doctype html
html(lang="en")
  head
    meta(charset="utf8")
    meta(name="author" content="Kotik Andreev <kothique@protonmail.ch>")
    meta(name="description" content="An example of a simple website for a javascript library")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    title wonderful.js

    link(href="bundle.min.css" rel="stylesheet")
    link(href="style.css" rel="stylesheet")

  body.m0
    nav.p2
      .right
        a.github-button(href="https://github.com/kothique/wonderfuljs.github.io" data-size="large" data-show-count="true" aria-label="Star kothique/wonderfuljs.github.io on GitHub") Star

  header.center
    h1#title wonderful#[span.italic .js]

  article#content.mx-auto.max-width-3.mb4
    mixin feature(title,picture,left=true)
      section.feature.sm-show.mx2.mt4
        .flex.flex-stretch
          if left
            .flex-none
              img(href=picture)
            .flex-auto.ml4
              h2 #{title}
              block
          if !left
            .flex-auto.mr4
              h2 #{title}
              block
            .flex-none
              img(href=picture)

      section.feature.sm-hide.mx3.mt4
        h2.center.h2 #{title}
        .center
          img(href=picture)
        p #{description}

    +feature('NON-EXISTENT', '')
      p wonderful.js was not created with the intention to bring joy or comfort to your 
        cheerless development workflow. So nothing to install, no skill to master, and 
        complete abscence of  boring docs or dull tutorials
    +feature('INFINITE POTENTIAL', '', false)
      p wonderful.js does not exist, so with its limitlessness literally anything you can
        think of is possible
    +feature('SEAMLESS INTEGRATION')
      p wonderful.js is guaranteed#[a(href="#ref1") *] to fit perfectly into any of your existing projects
      p#ref1: small *&nbsp;-&nbsp;actually, no
  
  footer.center
    | created by #[a(href="https://github.com/kothique") Kotik Andreev], 
    | published under the #[a(href="http://wtfpl.net") WTFPL] license

  script(src="bundle.js")
  script(async defer src="https://buttons.github.io/buttons.js")